<div class="navbar bg-primary sticky-top">
  <div class="container-fluid">
    <div class="d-none d-lg-block">
      <button class="btn btn-primary">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
    <div class="d-flex align-items-center">
      <a href="/" class="logo me-4">
        <img
          class="mt-1 mb-1"
          src="imgs/logoH_500.png"
          alt="Currency Kingdom Logo"
        />
      </a>
    </div>
    <div class="actions d-flex align-items-center">
      <app-theme-switcher></app-theme-switcher>
    </div>
  </div>
</div>
