<div class="card table-responsive tableRadius border-bottom-0">
  <table class="table table-striped align-middle mb-0">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Usuário</th>
        <th scope="col" class="text-center">Data e Hora</th>
        <th scope="col" class="text-center">Moeda Origem</th>
        <th scope="col" class="text-center">Cotação</th>
        <th scope="col" class="text-center">Moeda Destino</th>
        <th scope="col" class="text-end">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list">
        <th scope="row">{{ item.id }}</th>
        <th scope="row" class="text-capitalize">{{ item.user }}</th>
        <td class="text-center">
          {{ item.createdAt | date : "dd/MM" }} -
          {{ item.createdAt | date : "hh:mm:ss" }}h
        </td>
        <td class="text-center">
          <div class="d-flex justify-content-center align-items-center">
            <img
              *ngIf="item"
              src="imgs/currency-{{ item.currencyOrigin.name }}.png"
              style="height: 16px"
              class="me-1"
            />
            <span>
              <b>{{ item.currencyOrigin.code }}</b>
              {{ item.currencyOrigin.value | number : "1.2-2" }}
            </span>
          </div>
        </td>
        <td class="text-center">x {{ item.quote }}</td>
        <td class="text-center">
          <div class="d-flex justify-content-center align-items-center">
            <img
              src="imgs/currency-{{ item.currencyDestiny.name }}.png"
              style="height: 16px"
              class="me-1"
            />
            <span>
              <b>{{ item.currencyDestiny.code }}</b>
              {{ item.currencyDestiny.value | number : "1.2-2" }}
            </span>
          </div>
        </td>
        <td class="text-end">
          <span
            data-bs-toggle="modal"
            data-bs-target="#transactionDetails"
            class="mdi mdi-eye me-1 cursor-pointer"
            (click)="details(item.id)"
          ></span>
        </td>
      </tr>
      <tr>
        <td *ngIf="list.length == 0" colspan="7">
          <div class="p-5 text-center">
            <span>Nenhuma transação encontrada</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
