<app-transaction-modal
  (refreshList)="getTransactions()"
></app-transaction-modal>
<app-transaction-details #details></app-transaction-details>
<div class="container">
  <app-transactions-history-header></app-transactions-history-header>
  <app-transactions-history-filter
    (sendFilter)="applyFilters($event)"
  ></app-transactions-history-filter>
  <app-transactions-history-list
    [list]="list"
    (callDetails)="details.getTransaction($event)"
  ></app-transactions-history-list>
  <div class="d-flex justify-content-end mt-3">
    <app-list-paginator
      [pages]="totalPages"
      [active]="page"
      (onPageChange)="changePage($event)"
    ></app-list-paginator>
  </div>
</div>
