<div class="d-flex justify-content-center align-items-center mt-5">
  <img src="imgs/routeDanied.png" height="400px" />
  <div class="d-flex flex-column align-items-center">
    <span class="fw-bold d-block" style="font-size: 100px; line-height: 100%"
      >403</span
    >
    <span class="fs-4 mb-3">Acesso negado</span>
    <button class="btn btn-primary" [routerLink]="['/']" routerLinkActive="router-link-active" >
      <span class="mdi mdi-home me-2"></span>
      <span>Home</span>
    </button>
  </div>
</div>
