<div class="container">
  <app-feature-header
    title="Admin"
    icon="mdi-shield-crown"
  ></app-feature-header>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/user']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="mdi mdi-account-group me-2"></span>
        <span>Usuários</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/currency']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="mdi mdi-currency-usd me-2"></span>
        <span>Moedas</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/bank']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span class="mdi mdi-bank me-2"></span>
        <span>Banco</span>
      </a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
