<div
  class="modal fade"
  id="transactionModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-header p-3 border-0"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
        <h1 class="modal-title fs-5" id="transactionModalLabel">
          <span class="mdi mdi-swap-horizontal me-2"></span>
          <span>Nova Transação</span>
        </h1>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  formControlName="user"
                  placeholder="Nome"
                  [ngClass]="{
                    'is-invalid': validField('user')
                  }"
                />
                <div class="invalid-feedback text-end">Nome obrigatório</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="input-group has-validation mb-3">
                <button
                  class="btn dropdown-toggle"
                  [style.background-color]="form.value.currencyOriginColor"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="imgs/currency-{{ form.value.currencyOriginName }}.png"
                    style="height: 18px"
                    class="me-2"
                  />
                  <span class="text-capitalize">
                    <b>{{ form.value.currencyOriginName }}</b>
                  </span>
                </button>
                <ul class="dropdown-menu">
                  <li
                    *ngFor="let item of currencyList"
                    class="dropdown-item text-capitalize"
                    (click)="changeCurrencyOrigin(item); calcConvertion()"
                  >
                    <img
                      src="imgs/currency-{{ item.name }}.png"
                      style="height: 18px"
                      class="me-2"
                    />
                    <span>{{ item.code }} - {{ item.name }}</span>
                  </li>
                </ul>
                <input
                  type="text"
                  class="form-control text-end"
                  formControlName="currencyOriginValue"
                  [ngClass]="{
                    'is-invalid': validField('currencyOriginValue')
                  }"
                  (keyup)="calcConvertion()"
                />
                <div class="invalid-feedback text-end">Valor obrigatório</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Cotação</span>
                <input
                  readonly
                  type="text"
                  class="form-control text-end"
                  formControlName="quote"
                />
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="input-group mb-3">
                <button
                  class="btn dropdown-toggle"
                  [style.background-color]="form.value.currencyDestinyColor"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="imgs/currency-{{ form.value.currencyDestinyName }}.png"
                    style="height: 18px"
                    class="me-2"
                  />
                  <span class="text-capitalize">
                    <b>{{ form.value.currencyDestinyName }}</b>
                  </span>
                </button>
                <ul class="dropdown-menu">
                  <li
                    *ngFor="let item of currencyList"
                    class="dropdown-item text-capitalize"
                    (click)="changeCurrencyDestiny(item); calcConvertion()"
                  >
                    <img
                      src="imgs/currency-{{ item.name }}.png"
                      style="height: 18px"
                      class="me-2"
                    />
                    <span>{{ item.code }} - {{ item.name }}</span>
                  </li>
                </ul>
                <input
                  type="text"
                  class="form-control text-end"
                  formControlName="currencyDestinyValue"
                  readonly
                />
              </div>
            </div>
          </div>

          <div class="mb-4">
            <h5 class="text-center border-bottom p-2">Resumo da transação</h5>
            <div class="list-group list-group-flush">
              <div
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <span>Moeda Origem</span>
                <span class="text-capitalize">
                  {{ form.value.currencyOriginCode }}
                  {{ form.value.currencyOriginValue }}
                </span>
              </div>
              <div
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <span>Cotação de conversão</span>
                <span>x {{ form.value.quote }}</span>
              </div>
              <div
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <span>Moeda Destino</span>
                <span>
                  {{ form.value.currencyDestinyCode }}
                  {{ form.value.currencyDestinyValue }}
                </span>
              </div>
              <div
                class="list-group-item d-flex justify-content-between align-items-center"
              >
                <span>Taxa de Corretagem</span>
                <span>
                  {{ form.value.currencyOriginTax }}% =
                  {{ form.value.currencyDestinyCode }}
                  {{ form.value.taxValue }}
                </span>
              </div>
              <div
                class="list-group-item d-flex justify-content-between align-items-center fw-bold"
                style="background-color: rgba(0, 0, 0, 0.1)"
              >
                <span>Valor a receber</span>
                <span>
                  {{ form.value.currencyDestinyCode }}
                  {{ form.value.currencyDestinyValueTaxed }}
                </span>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-primary"
              (click)="submitForm()"
            >
              <span class="mdi mdi-check-bold me-1"></span>
              <span>Confirmar</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
