<div
  class="modal fade"
  id="transactionModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-3 border-0 bg-dark">
        <h1 class="modal-title fs-5" id="transactionModalLabel">
          <span class="mdi mdi-swap-horizontal me-2"></span>
          <span>Nova Transação</span>
        </h1>
        <button
          #closeModal
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="row">
            <div class="col-12">
              <div class="input-group has-validation mb-3">
                <button
                  class="btn dropdown-toggle"
                  [style.background-color]="form.value.currencyOriginColor"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="imgs/currency-{{ form.value.currencyOriginName }}.png"
                    style="height: 18px"
                    class="me-2"
                  />
                  <span class="text-capitalize">
                    <b>{{ form.value.currencyOriginName }}</b>
                  </span>
                </button>
                <ul class="dropdown-menu">
                  <li
                    *ngFor="let item of currencyList"
                    class="dropdown-item text-capitalize"
                    (click)="changeCurrencyOrigin(item); calcConvertion()"
                  >
                    <img
                      src="imgs/currency-{{ item.name }}.png"
                      style="height: 18px"
                      class="me-2"
                    />
                    <span>{{ item.code }} - {{ item.name }}</span>
                  </li>
                </ul>
                <input
                  type="text"
                  class="form-control text-end"
                  formControlName="currencyOriginValue"
                  [ngClass]="{
                    'is-invalid': validField('currencyOriginValue')
                  }"
                  (keyup)="calcConvertion()"
                />
                <div class="invalid-feedback text-end">Valor obrigatório</div>
              </div>
            </div>
            <div class="col12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Cotação</span>
                <input
                  readonly
                  type="text"
                  class="form-control text-end"
                  formControlName="quote"
                />
              </div>
            </div>
            <div class="col-12">
              <div class="input-group mb-3">
                <button
                  class="btn dropdown-toggle"
                  [style.background-color]="form.value.currencyDestinyColor"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="imgs/currency-{{ form.value.currencyDestinyName }}.png"
                    style="height: 18px"
                    class="me-2"
                  />
                  <span class="text-capitalize">
                    <b>{{ form.value.currencyDestinyName }}</b>
                  </span>
                </button>
                <ul class="dropdown-menu">
                  <li
                    *ngFor="let item of currencyList"
                    class="dropdown-item text-capitalize"
                    (click)="changeCurrencyDestiny(item); calcConvertion()"
                  >
                    <img
                      src="imgs/currency-{{ item.name }}.png"
                      style="height: 18px"
                      class="me-2"
                    />
                    <span>{{ item.code }} - {{ item.name }}</span>
                  </li>
                </ul>
                <input
                  type="text"
                  class="form-control text-end"
                  formControlName="currencyDestinyValue"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-primary"
              (click)="submitForm()"
            >
              <span class="mdi mdi-check-bold me-1"></span>
              <span>Confirmar</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
